body {
  text-align: center;
  background-color: #283149;
}

h1 {
  font-size: 5rem;
  color: #dbedf3;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #690999;
}

footer {
  color: #dbedf3;
  font-family: sans-serif;
}

.c {
  background-color: #d30026;
  height: 600px;
}

.d {
  background-color: #eb3700;
  height: 550px;
}

.e {
  background-color: yellow;
  height: 500px;
}

.f {
  background-color: rgb(53, 240, 53);
  height: 450px;
}

.g {
  background-color: green;
  height: 400px;
}

.a {
  background-color: blue;
  height: 350px;
}

.b {
  background-color: purple;
  height: 300px;
}

.c2 {
  background-color: rgb(247, 63, 121);
  height: 250px;
}

.set {
  margin: 10% auto;
}

.pressed {
  box-shadow: 0 3px 4px 0 #dbedf3;
  opacity: 0.5;
}

.note {
  outline: none;
  border: 10px solid #404b69;
  font-size: 5rem;
  font-family: "Arvo", cursive;
  line-height: 2;
  font-weight: 900;
  color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  text-align: center;
  margin: 10px;
}
